<div style="padding:3px;">
  <form>
    <table>
      <tr>
        <td>
          <label class="td-label">*</label>竞猜名称:
        </td>
        <td>
          <eui-textbox class="textbox" #name [(ngModel)]="question.name" name="name" placeholder="请填入竞猜标题"></eui-textbox>
        </td>

        <td>
          <label class="td-label">*</label>竞猜代号:
        </td>
        <td>
          <eui-textbox class="textbox" #code [(ngModel)]="question.code" name="code" placeholder="请填入竞猜代号"></eui-textbox>
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>描述:
        </td>
        <td>
          <eui-textbox class="textbox" #description [(ngModel)]="question.description" name="description" placeholder="请填入竞猜描述"></eui-textbox>
        </td>
        <td>
          <label class="td-label">*</label>类别:
        </td>
        <td>
          <eui-combotree style="width:300px;" [(ngModel)]="question.guessCategoryId" name="guessCategoryId" [data]="treeData" placeholder="不选为根节点">
            <eui-tree></eui-tree>
          </eui-combotree>
          <!-- <eui-textbox class="textbox" #guessCategoryId [(ngModel)]="question.guessCategoryId" name="guessCategoryId" placeholder="请填入竞猜类别"></eui-textbox> -->
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>截止日期:
        </td>
        <td>
          <eui-datebox #questionEndTime [(ngModel)]="question.questionEndTime" name="questionEndTime"></eui-datebox>
          <!-- <eui-textbox #questionEndTime [(ngModel)]="question.questionEndTime" name="questionEndTime" placeholder="请填入截止日期"></eui-textbox> -->
        </td>
        <td>
          <label class="td-label">*</label>是否已经校验过答案:
        </td>
        <td>
          <eui-combobox #checked [(ngModel)]="question.checked" name="checked"></eui-combobox>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <eui-linkbutton iconCls="icon-save" (click)="onSubmit()">保存</eui-linkbutton>&nbsp;
          <eui-linkbutton iconCls="icon-back" (click)="back()">返回</eui-linkbutton>&nbsp;
          <eui-linkbutton iconCls="icon-add" (click)="addOtpion()">添加选项</eui-linkbutton>
        </td>
      </tr>
    </table>

    <eui-datalist style="width: 650px;margin-top:10px;" [data]="question.guessOptions" [(selection)]="guessOptionSelection" selectionMode="single"
      *ngIf="question.guessOptions.length>0">
      <!--  -->
      <ng-template euiItemTemplate let-row>
        <div style="border-bottom:1px #DDDDDD solid;padding: 5px 10px;">
          <div>
            <div style="width: 200px;text-align: center;float: left; vertical-align: middle;">
              <label>{{row.name}}</label>
            </div>
            <div style="width: 200px;text-align: center;float: left;">
              <label>{{row.betRate}}</label>
            </div>
            <div style="width: 200px;text-align: center;float: left;">
                <eui-linkbutton  iconCls="icon-edit" (click)="onOptionEditRow(row)">编辑</eui-linkbutton>
                <eui-linkbutton  iconCls="icon-remove" (click)="onOptionDeleteRow(row)">删除</eui-linkbutton>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </ng-template>
    </eui-datalist>
    <table style="margin-top: 10px;" *ngIf="showOptionForm === true">
        <tr>
          <td>
            <label class="td-label">*</label>名称:
          </td>
          <td>
            <eui-textbox class="textbox" [(ngModel)]="option.name" name="option_name" placeholder="请填入名称"></eui-textbox>
          </td>
  
          <td>
            <label class="td-label">*</label>赔率:
          </td>
          <td>
            <eui-textbox class="textbox" [(ngModel)]="option.betRate" name="option_betRate" placeholder="请填入赔率"></eui-textbox>
          </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
              <eui-linkbutton iconCls="icon-save" (click)="saveOption()">{{mode == 'new' ? '新增保存':'编辑保存'}}</eui-linkbutton>
            </td>
          </tr>
    </table>
  </form>
</div>
