<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulan.application.mapper.GroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fulan.api.security.domain.UserGroup">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="group_desc" property="groupDesc" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="modify_user" property="modifyUser" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_name AS groupName, group_desc AS groupDesc, create_user AS createUser, create_time AS createTime,modify_user AS modifyUser, modify_time AS modifyTime
    </sql>
    
    <select id="selectGroupByAccountId" resultMap="BaseResultMap">
        select * from user_group u 
                where u.id in 
                    (select DISTINCT(a.group_id) from account_group a where a.account_id = #{accountId});
    </select>
</mapper>
