<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwo.xiyangyang.modules.sys.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zwo.xiyangyang.modules.sys.domain.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="SALT" property="salt" jdbcType="VARCHAR" />
    <result column="LOGIN_DATE" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_DATE" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBIL_PHONE" property="mobilPhone" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="BIT" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATER" property="updater" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="BIT" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="INTEGER" />
    <result column="WEIGHT" property="weight" jdbcType="INTEGER" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="WEIXIN" property="weixin" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="LOGIN_COUNT" property="loginCount" jdbcType="INTEGER" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="PARENTIDS" property="parentids" jdbcType="VARCHAR" />
    <result column="MEMBER_GROUP_ID" property="memberGroupId" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="USERGROUP_ID" property="usergroupId" jdbcType="VARCHAR" />
    <result column="EMERGECY_CONTACT" property="emergecyContact" jdbcType="VARCHAR" />
    <result column="IS_CERTIFICATE_INTERNATIONAL" property="isCertificateInternational" jdbcType="BIT" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="COOP_NAME" property="coopName" jdbcType="VARCHAR" />
    <result column="COOP_ADDRESS" property="coopAddress" jdbcType="VARCHAR" />
    <result column="BUSSINESS_LICENSE_CODE" property="bussinessLicenseCode" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="TAXPAYER" property="taxpayer" jdbcType="VARCHAR" />
    <result column="SOCIETY_CODE" property="societyCode" jdbcType="VARCHAR" />
    <result column="LEGAL_REPRESENTATIVE_CARD1" property="legalRepresentativeCard1" jdbcType="VARCHAR" />
    <result column="LEGAL_REPRESENTATIVE_CARD2" property="legalRepresentativeCard2" jdbcType="VARCHAR" />
    <result column="LEGAL_IDCARD_EFFITIVE" property="legalIdcardEffitive" jdbcType="VARCHAR" />
    <result column="BUSSINESS_LICENSE_PIC" property="bussinessLicensePic" jdbcType="VARCHAR" />
    <result column="LICENSE_FOR_OPENING_COUNT" property="licenseForOpeningCount" jdbcType="VARCHAR" />
    <result column="QUANTITY_REPORT_ID" property="quantityReportId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <!-- <collection property="roles" column="username"
			select="com.zwo.xiyangyang.modules.sys.dao.RoleMapper.selectRoleByUsername">
	</collection> -->
	<collection property="roles" ofType="com.zwo.xiyangyang.modules.sys.domain.Role">
			<id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
	</collection>
	<collection property="resourceses" ofType="com.zwo.xiyangyang.modules.sys.domain.Resources">
			<id property="id" column="res_id"/>
			<id property="parentId" column="res_parent_id"/>
            <result property="authName" column="res_name"/>
	</collection>
  </resultMap>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT 
    	user.*,
	    r.id   as role_id,
	    r.name as role_name,
	    res.id as res_id,
	    res.PARENT_ID as res_parent_id,
	    res.AUTH_NAME as res_name
	FROM
	    sys_user user
	        LEFT JOIN
	    sys_user_role user_role ON user_role.USER_ID = user.ID
	        LEFT JOIN
	    sys_role r ON r.id = user_role.ROLE_ID
	        LEFT JOIN
	    sys_role_resources role_res ON role_res.ROLE_ID = r.id
	        LEFT JOIN
	    sys_resources res ON res.id = role_res.RESOURCES_ID
	WHERE
	    user.id=#{id}
  </select>
  
  <!-- 根据用户名查询用户角色权限名 -->
  <select id="selectUserRoleResoucesByUsername" resultType="String" resultMap="BaseResultMap">
  	SELECT 
    	user.*,
	    r.id   as role_id,
	    r.name as role_name,
	    res.id as res_id,
	    res.PARENT_ID as res_parent_id,
	    res.AUTH_NAME as res_name
	FROM
	    sys_user user
	        LEFT JOIN
	    sys_user_role user_role ON user_role.USER_ID = user.ID
	        LEFT JOIN
	    sys_role r ON r.id = user_role.ROLE_ID
	        LEFT JOIN
	    sys_role_resources role_res ON role_res.ROLE_ID = r.id
	        LEFT JOIN
	    sys_resources res ON res.id = role_res.RESOURCES_ID
	WHERE
	    user.USERNAME = #{username} or user.MOBIL_PHONE= #{username} or user.EMAIL=#{username}
	    
	    union
	    
	 SELECT 
	    res.AUTH_NAME
	FROM
	    sys_user user
	        LEFT JOIN
		sys_user_group ug on user.USERGROUP_ID = ug.id 
			LEFT JOIN
	    sys_group_role gr ON ug.id=gr.USERGROUP_ID
	        LEFT JOIN
	    sys_role r ON r.id = gr.ROLE_ID
	        LEFT JOIN
	    sys_role_resources role_res ON role_res.ROLE_ID = r.id
	        LEFT JOIN
	    sys_resources res ON res.id = role_res.RESOURCES_ID
	WHERE
	    user.USERNAME = #{username}  or user.MOBIL_PHONE= #{username} or user.EMAIL=#{username}   
  	
  </select>
</mapper>