<div style="padding:3px;">
  <eui-linkbutton (click)="onAddRow()" iconCls="icon-add">新增</eui-linkbutton>&nbsp;
  <eui-linkbutton  iconCls="icon-remove">批量删除</eui-linkbutton>

  <eui-datagrid style="margin-top: 5px;"
                  [pagination]="true"
                  [data]="data"
                  [total]="total"
                  [pageNumber]="pageNumber"
                  [pageSize]="pageSize"
                  pagePosition="bottom"
                  class="data-grid">
              <!-- <eui-grid-column field="ck" checkbox="true"></eui-grid-column> -->
              <eui-grid-column field="id" title="id" align="center" hidden="true"></eui-grid-column>
              <eui-grid-column field="balance" title="账号余额" align="center"></eui-grid-column>
              <eui-grid-column field="name" title="会员名字" align="center"></eui-grid-column>
              <eui-grid-column field="memberId" title="会员ID" align="center"></eui-grid-column>
              <eui-grid-column field="createDate" title="创建日期" align="center"></eui-grid-column>
              <eui-grid-column title="" align="center" width="140" style="padding: 3px;">
                  <ng-template euiCellTemplate let-row>
                    <eui-linkbutton  iconCls="icon-edit" (click)="onEditRow(row)">编辑</eui-linkbutton>
                    <eui-linkbutton  iconCls="icon-remove" (click)="onDeleteRow(row)">删除</eui-linkbutton>
                  </ng-template>
              </eui-grid-column>
  </eui-datagrid>
</div>