<div style="background-color: #F3F3F3;line-height: 2.3em; height: 2.3em;
padding:0 0.4em;color: gray;position: fixed;left: 0;right: 0; z-index: 999;">
  <div class="weui-flex">
    <div class="weui-flex__item">
      <label (click)="redirectToAddressList()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;返回</label>
    </div>
    <div class="weui-flex__item" style="text-align: center;">
      <label>地址修改</label>
    </div>
    <div class="weui-flex__item" style="text-align: right;">
      <label style="text-align: center;width: 100%;"></label>
    </div>
  </div>
</div>
<div style="padding-top: 2.3em;">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">qq</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入qq号"/>
      </div>
    </div>
  </div>
</div>
