<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fulan.application.oa.mapper.FwdOaApplyFormMapper" >
  <resultMap id="BaseResultMap" type="com.fulan.application.oa.domain.FwdOaApplyForm" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="END_DATETIME" property="endDatetime" jdbcType="TIMESTAMP" />
    <result column="LEAVE_TYPE" property="leaveType" jdbcType="INTEGER" />
    <result column="LEAVE_OFF" property="leaveOff" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="IMCOMEPROVE_MONTH" property="imcomeproveMonth" jdbcType="INTEGER" />
    <result column="CURRENT_GRADE" property="currentGrade" jdbcType="VARCHAR" />
    <result column="UP_GRADE" property="upGrade" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    ID, DESCRIPTION, TYPE, AGENT_CODE, CREATE_DATETIME, STATUS, START_TIME, END_TIME, 
    END_DATETIME, LEAVE_TYPE, LEAVE_OFF, TITLE, IMCOMEPROVE_MONTH, CURRENT_GRADE, UP_GRADE, 
    NAME, AGENT_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fulan.application.oa.domain.FwdOaApplyFormExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fwd_oa_apply_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fwd_oa_apply_form
    where ID = #{id,jdbcType=INTEGER}
  </select> -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    delete from fwd_oa_apply_form
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fulan.application.oa.domain.FwdOaApplyFormExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    delete from fwd_oa_apply_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fulan.application.oa.domain.FwdOaApplyForm" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    insert into fwd_oa_apply_form (ID, DESCRIPTION, TYPE, 
      AGENT_CODE, CREATE_DATETIME, STATUS, 
      START_TIME, END_TIME, END_DATETIME, 
      LEAVE_TYPE, LEAVE_OFF, TITLE, 
      IMCOMEPROVE_MONTH, CURRENT_GRADE, UP_GRADE, 
      NAME, AGENT_NAME)
    values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{agentCode,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{endDatetime,jdbcType=TIMESTAMP}, 
      #{leaveType,jdbcType=INTEGER}, #{leaveOff,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{imcomeproveMonth,jdbcType=INTEGER}, #{currentGrade,jdbcType=VARCHAR}, #{upGrade,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR})
      
      <selectKey order="AFTER" resultType="int" keyProperty="id">  
        select last_insert_id() as id  
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.fulan.application.oa.domain.FwdOaApplyForm" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    insert into fwd_oa_apply_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="agentCode != null" >
        AGENT_CODE,
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="endDatetime != null" >
        END_DATETIME,
      </if>
      <if test="leaveType != null" >
        LEAVE_TYPE,
      </if>
      <if test="leaveOff != null" >
        LEAVE_OFF,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="imcomeproveMonth != null" >
        IMCOMEPROVE_MONTH,
      </if>
      <if test="currentGrade != null" >
        CURRENT_GRADE,
      </if>
      <if test="upGrade != null" >
        UP_GRADE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="agentName != null" >
        AGENT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="agentCode != null" >
        #{agentCode,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null" >
        #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveType != null" >
        #{leaveType,jdbcType=INTEGER},
      </if>
      <if test="leaveOff != null" >
        #{leaveOff,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imcomeproveMonth != null" >
        #{imcomeproveMonth,jdbcType=INTEGER},
      </if>
      <if test="currentGrade != null" >
        #{currentGrade,jdbcType=VARCHAR},
      </if>
      <if test="upGrade != null" >
        #{upGrade,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        #{agentName,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey order="AFTER" resultType="int" keyProperty="id">  
        select last_insert_id() as id  
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.fulan.application.oa.domain.FwdOaApplyFormExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    select count(*) from fwd_oa_apply_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    update fwd_oa_apply_form
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.agentCode != null" >
        AGENT_CODE = #{record.agentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createDatetime != null" >
        CREATE_DATETIME = #{record.createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDatetime != null" >
        END_DATETIME = #{record.endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.leaveType != null" >
        LEAVE_TYPE = #{record.leaveType,jdbcType=INTEGER},
      </if>
      <if test="record.leaveOff != null" >
        LEAVE_OFF = #{record.leaveOff,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.imcomeproveMonth != null" >
        IMCOMEPROVE_MONTH = #{record.imcomeproveMonth,jdbcType=INTEGER},
      </if>
      <if test="record.currentGrade != null" >
        CURRENT_GRADE = #{record.currentGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.upGrade != null" >
        UP_GRADE = #{record.upGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.agentName != null" >
        AGENT_NAME = #{record.agentName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    update fwd_oa_apply_form
    set ID = #{record.id,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      AGENT_CODE = #{record.agentCode,jdbcType=VARCHAR},
      CREATE_DATETIME = #{record.createDatetime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=INTEGER},
      START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      END_DATETIME = #{record.endDatetime,jdbcType=TIMESTAMP},
      LEAVE_TYPE = #{record.leaveType,jdbcType=INTEGER},
      LEAVE_OFF = #{record.leaveOff,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      IMCOMEPROVE_MONTH = #{record.imcomeproveMonth,jdbcType=INTEGER},
      CURRENT_GRADE = #{record.currentGrade,jdbcType=VARCHAR},
      UP_GRADE = #{record.upGrade,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      AGENT_NAME = #{record.agentName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fulan.application.oa.domain.FwdOaApplyForm" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    update fwd_oa_apply_form
    <set >
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="agentCode != null" >
        AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null" >
        END_DATETIME = #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveType != null" >
        LEAVE_TYPE = #{leaveType,jdbcType=INTEGER},
      </if>
      <if test="leaveOff != null" >
        LEAVE_OFF = #{leaveOff,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imcomeproveMonth != null" >
        IMCOMEPROVE_MONTH = #{imcomeproveMonth,jdbcType=INTEGER},
      </if>
      <if test="currentGrade != null" >
        CURRENT_GRADE = #{currentGrade,jdbcType=VARCHAR},
      </if>
      <if test="upGrade != null" >
        UP_GRADE = #{upGrade,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fulan.application.oa.domain.FwdOaApplyForm" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 04 14:47:17 CST 2018.
    -->
    update fwd_oa_apply_form
    set DESCRIPTION = #{description,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      END_DATETIME = #{endDatetime,jdbcType=TIMESTAMP},
      LEAVE_TYPE = #{leaveType,jdbcType=INTEGER},
      LEAVE_OFF = #{leaveOff,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      IMCOMEPROVE_MONTH = #{imcomeproveMonth,jdbcType=INTEGER},
      CURRENT_GRADE = #{currentGrade,jdbcType=VARCHAR},
      UP_GRADE = #{upGrade,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      AGENT_NAME = #{agentName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  
    <resultMap id="OAApplyFormVoMap" type="com.fulan.application.oa.vo.OAApplyFormVo" >
    			<id column="ID" property="id" jdbcType="INTEGER" />
			    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
			    <result column="TYPE" property="type" jdbcType="VARCHAR" />
			    <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" />
			    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
			    <result column="STATUS" property="status" jdbcType="INTEGER" />
			    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
			    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
			    <result column="END_DATETIME" property="endDatetime" jdbcType="TIMESTAMP" />
			    <result column="LEAVE_TYPE" property="leaveType" jdbcType="INTEGER" />
			    <result column="LEAVE_OFF" property="leaveOff" jdbcType="VARCHAR" />
			    <result column="TITLE" property="title" jdbcType="VARCHAR" />
			    <result column="IMCOMEPROVE_MONTH" property="imcomeproveMonth" jdbcType="INTEGER" />
			    <result column="NAME" property="name" jdbcType="VARCHAR" />
			    <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
         <!-- <association  property="address" javaType="com.fulan.application.oa.domain.FwdOaAddress">
         	        <id column="ID" property="id" jdbcType="INTEGER" />
				    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
				    <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" />
				    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
				    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
				    <result column="IS_DEFAULT" property="isDefault" jdbcType="BIT" />
				    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
				    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
				    <result column="CITY" property="city" jdbcType="VARCHAR" />
				    <result column="AREA" property="area" jdbcType="VARCHAR" />
				    <result column="STREET" property="street" jdbcType="VARCHAR" />
				    <result column="ADDRESS_DETAIL" property="addressDetail" jdbcType="VARCHAR" />
				    <result column="APPLY_NO" property="applyNo" jdbcType="VARCHAR" />
				    <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
				    <result column="OA_APPLY_ID" property="oaApplyId" jdbcType="INTEGER" />
         </association>
         <association  property="bankCard" javaType="com.fulan.application.oa.domain.FwdOaBankCard">
             <id column="ID" property="id" jdbcType="INTEGER" />
		    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
		    <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" />
		    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
		    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
		    <result column="IS_DEFAULT" property="isDefault" jdbcType="BIT" />
		    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
		    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
		    <result column="APPLY_NO" property="applyNo" jdbcType="VARCHAR" />
		    <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
		    <result column="OA_APPLY_ID" property="oaApplyId" jdbcType="INTEGER" /> 
         </association>
         <association  property="mobile" javaType="com.fulan.application.oa.domain.FwdOaMobile">
        	<id column="ID" property="id" jdbcType="INTEGER" />
		    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
		    <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" />
		    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
		    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
		    <result column="IS_DEFAULT" property="isDefault" jdbcType="BIT" />
		    <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR" />
		    <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
		    <result column="APPLY_NO" property="applyNo" jdbcType="VARCHAR" />
		    <result column="OA_APPLY_ID" property="oaApplyId" jdbcType="INTEGER" />
        </association> -->	
		<collection  property="attachments" ofType="com.fulan.application.oa.domain.FwdOaFormAttachment">
        	<id column="att_id" property="id" jdbcType="INTEGER" />
		    <result column="PATH" property="path" jdbcType="VARCHAR" />
		    <result column="URL" property="url" jdbcType="VARCHAR" />
		    <result column="FORM_ID" property="formId" jdbcType="INTEGER" />
		    <result column="att_name" property="name" jdbcType="VARCHAR" />
		    <result column="att_create_time" property="createDatetime" jdbcType="TIMESTAMP" />
		    <result column="att_desc" property="description" jdbcType="VARCHAR" />
        </collection>
  </resultMap>
  
  <select id="selectAttamentsByFormId" resultType="com.fulan.application.oa.domain.FwdOaFormAttachment">
		select * from fwd_oa_form_attachment where form_id = #{formId}
	</select>
	
  <select id="selectOAApplyFormVo" resultMap="OAApplyFormVoMap" >
    SELECT 
         a.ID,
	    a.DESCRIPTION,
	    a.TYPE,
	    a.AGENT_CODE,
	    a.CREATE_DATETIME,
	    a.STATUS,
	    a.START_TIME,
	    a.END_TIME,
	    a.END_DATETIME,
	    a.LEAVE_TYPE,
	    a.LEAVE_OFF,
	    a.TITLE,
	    a.IMCOMEPROVE_MONTH,
	    a.CURRENT_GRADE,
	    a.UP_GRADE,
	    a.NAME,
	    a.AGENT_NAME,
	    d.id as att_id,
	    d.PATH,
	    d.url,
	    d.FORM_ID ,
	    d.name as att_name,
	    d.CREATE_DATETIME as att_create_time,
	    d.DESCRIPTION as att_desc
		FROM
		(
			SELECT * FROM
			    fwd_oa_apply_form AS a
			WHERE
			    1 = 1 
			     <if test="parameter.ids != null  and  parameter.ids != '' " >
		     			  AND a.ID in
			             <foreach collection="parameter.ids"  item="item" index="index" open="(" separator="," close=")">
				         	   #{item}
				        </foreach>
			      </if>
			      <if test="parameter.types != null" >
		     			  AND a.type in
			             <foreach collection="parameter.types"  item="item" index="index" open="(" separator="," close=")">
				         	   #{item}
				        </foreach>
			      </if>
			     <if test="parameter.fwdOaApplyForm != null and parameter.fwdOaApplyForm.type != null" >
			              AND a.type = #{parameter.fwdOaApplyForm.type}
			      </if>
			      <if test="parameter.fwdOaApplyForm != null and parameter.fwdOaApplyForm.status != null" >
			      		<if test="parameter.fwdOaApplyForm.status == -1" >
			      			AND a.STATUS != 0
			      		</if>
			      		<if test="parameter.fwdOaApplyForm.status != -1" >
			      			AND a.STATUS = #{parameter.fwdOaApplyForm.status }
			      		</if> 
			      </if>
			      <if test="parameter.fwdOaApplyForm != null and parameter.fwdOaApplyForm.agentCode != null" >
			              AND a.agent_Code = #{parameter.fwdOaApplyForm.agentCode}
			      </if>
			     ORDER BY a.CREATE_DATETIME DESC
			 	<if test="parameter.start != null and  parameter.size != null " >
			           	LIMIT #{parameter.start} , #{parameter.size}
			  	</if>
			  )AS a
		        LEFT JOIN
		    fwd_oa_form_attachment d ON a.ID = d.FORM_ID
		
			ORDER BY a.CREATE_DATETIME DESC
	</select>
	
	<select id="selectByPrimaryKey" resultMap="OAApplyFormVoMap" parameterType="java.lang.Integer" >
    	SELECT 
         a.ID,
	    a.DESCRIPTION,
	    a.TYPE,
	    a.AGENT_CODE,
	    a.CREATE_DATETIME,
	    a.STATUS,
	    a.START_TIME,
	    a.END_TIME,
	    a.END_DATETIME,
	    a.LEAVE_TYPE,
	    a.LEAVE_OFF,
	    a.TITLE,
	    a.IMCOMEPROVE_MONTH,
	    a.CURRENT_GRADE,
	    a.UP_GRADE,
	    a.NAME,
	    a.AGENT_NAME, 
	    d.id as att_id,
	    d.PATH,
	    d.url,
	    d.FORM_ID ,
	    d.name as att_name,
	    d.CREATE_DATETIME as att_create_time,
	    d.DESCRIPTION as att_desc
		FROM
		    fwd_oa_apply_form AS a
		        LEFT JOIN
			fwd_oa_form_attachment d on a.ID = d.FORM_ID
		WHERE
    		a.ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>