<div style="font-weight: normal;">
  <div style="height: 6em;line-height:6em;
  background: #E02E24;width: 100%;position: relative;">
    <img style="width: 4em;height: 4em; border-radius: 2em;margin-top: 1em;margin-left: 1em;position: absolute;"
         src="http://avatar.yangkeduo.com/a/4f12fc2521b71e13ca2721bf748fed03efe1fcf0-1519704602?x-oss-process=image/resize,w_100"/>
    <label style="color: #F3F3F3;margin-left: 5.5em;" >黄记新</label>


  </div>
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd"  [routerLink]="[{ outlets: { userInfo: ['address'] } }]" style="font-size: 0.8em;">
        <i class="fa fa-map-marker fa-lg" aria-hidden="true" style="color: aqua;"></i>&nbsp;&nbsp;我的收货地址
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd"  [routerLink]="[{ outlets: { userInfo: ['guess-record'] } }]" style="font-size: 0.8em;"><!--[routerLink]="['/index/guess-record']"-->
        <i class="fa fa-google" aria-hidden="true" style="color: aquamarine"></i>&nbsp;&nbsp;我的竞猜记录
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd" style="font-size: 0.8em;">
        <i class="fa fa-sign-out fa-lg" aria-hidden="true" style="color: red;"></i>&nbsp;&nbsp;注销登录
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
</div>

