<div style="font-weight: normal;">
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd" style="font-size: 0.8em;">
        <i class="fa fa-map-marker fa-lg" aria-hidden="true" style="color: aqua;"></i>&nbsp;&nbsp;我的地址
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd"  [routerLink]="[{ outlets: { userInfo: ['guess-record'] } }]" style="font-size: 0.8em;"><!--[routerLink]="['/index/guess-record']"-->
        <i class="fa fa-google" aria-hidden="true" style="color: aquamarine"></i>&nbsp;&nbsp;我的竞猜记录
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd" style="font-size: 0.8em;">
        <i class="fa fa-sign-out fa-lg" aria-hidden="true" style="color: red;"></i>&nbsp;&nbsp;注销登录
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
</div>

