<div style="padding:3px;">
  <input type="hidden" [(ngModel)]="cmsComment.id" name="id" >
  <form>
    <table>
      <tr>
        <td>
          <label class="td-label">*</label>组织结构ID:
        </td>
        <td>
          <eui-textbox class="textbox" #memberId name="memberId" [(ngModel)]="cmsComment.memberId" placeholder="请填入组织结构ID"></eui-textbox>
        </td>
        <td>
          <label class="td-label">*</label>是否可用:
        </td>
        <td>
          <eui-radiobutton name="enabled" [inputId]="enabled" [value]=1 [(ngModel)]="cmsComment.enabled"></eui-radiobutton>是
          <eui-radiobutton name="enabled" [inputId]="enabled" [value]=0 [(ngModel)]="cmsComment.enabled"></eui-radiobutton>否
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>创建日期:
        </td>
        <td>
          <eui-textbox #createDate name="createDate"  [(ngModel)]="cmsComment.createDate"  placeholder="请填入创建日期"></eui-textbox>
        </td>
        <td>
          <label class="td-label">*</label>更新日期:
        </td>
        <td>
          <eui-textbox #updateDate name="updateDate" [(ngModel)]="cmsComment.updateDate" placeholder="请填入创建日期"></eui-textbox>
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>创建人:
        </td>
        <td>
          <eui-textbox class="textbox" #creator name="creator" [(ngModel)]="cmsComment.creator" placeholder="请填入创建人"></eui-textbox>
        </td>
        <td>
          <label class="td-label">*</label>更新人:
        </td>
        <td>
          <eui-textbox class="textbox" #updater name="updater" [(ngModel)]="cmsComment.updater" placeholder="请填入更新人"></eui-textbox>
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>路径:
        </td>
        <td>
          <eui-textbox class="textbox" #path name="path" [(ngModel)]="cmsComment.path"  placeholder="请填入路径"></eui-textbox>
        </td>
        <td>
          <label class="td-label">*</label>图标:
        </td>
        <td>
          <eui-textbox class="textbox" #icon name="icon" [(ngModel)]="cmsComment.icon" placeholder="请填入图标"></eui-textbox>
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>父亲节点:
        </td>
        <td>
          <eui-combotree [(ngModel)]="cmsComment.parentId" name="parentId" [data]="treeData" placeholder="不选为根节点">
            <eui-tree></eui-tree>
          </eui-combotree>
          <eui-linkbutton iconCls="icon-cancel" (click)="back()">取消选择</eui-linkbutton>
        </td>
        <td>
          <label class="td-label">*</label>文档节点:
        </td>
        <td>
          <eui-combotree [(ngModel)]="cmsComment.cmsDocumentId" name="cmsDocumentId" [data]="treeData" placeholder="不选为根节点">
            <eui-tree></eui-tree>
          </eui-combotree>
          <eui-linkbutton iconCls="icon-cancel" (click)="back()">取消选择</eui-linkbutton>
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>内容:
        </td>
        <td>
          <eui-textbox class="textbox" #content name="content" [(ngModel)]="cmsComment.content"  placeholder="请填入内容"></eui-textbox>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <eui-linkbutton  iconCls="icon-save">保存</eui-linkbutton>&nbsp;
          <eui-linkbutton iconCls="icon-back" (click)="back()">返回</eui-linkbutton>
        </td>
      </tr>
    </table>
  </form>
</div>
