<router-outlet  name="srole"></router-outlet>
<h2>角色管理</h2>
<eui-linkbutton (click)="onAddRow()" iconCls="icon-add" style="margin-bottom:10px">新增用户</eui-linkbutton>
<eui-linkbutton  iconCls="icon-remove">批量删除</eui-linkbutton>
<eui-datagrid style="height:250px"
              [pagination]="true"
              [lazy]="true"
              [data]="data"
              [total]="total"
              [pageNumber]="pageNumber"
              [pageSize]="pageSize"
              [pagePosition]="pagePosition"
              [loading]="loading"
              (pageChange)="onPageChange($event)">
  <eui-grid-column title="id" field="id"></eui-grid-column>
  <eui-grid-column title="角色" field="name"></eui-grid-column>
  <eui-grid-column title="代码" field="code" align="right"></eui-grid-column>
  <eui-grid-column title="创建人" field="creator" align="right"></eui-grid-column>
  <eui-grid-column title="更新人" field="updater" align="right"></eui-grid-column>
  <eui-grid-column title="操作" align="center" width="100">
    <ng-template euiCellTemplate let-row>
      <eui-linkbutton iconCls="icon-edit" (click)="onEditRow(row)">修改</eui-linkbutton>
      <eui-linkbutton iconCls="icon-remove" (click)="onDeleteRow(row)">删除</eui-linkbutton>
    </ng-template>
  </eui-grid-column>


</eui-datagrid>

