<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwo.modules.system.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zwo.modules.system.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="LOGIN_DATE" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="LAST_LOGIN_DATE" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBIL_PHONE" jdbcType="VARCHAR" property="mobilPhone" />
    <result column="ENABLED" jdbcType="BIT" property="enabled" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="SEX" jdbcType="BIT" property="sex" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="AGE" jdbcType="INTEGER" property="age" />
    <result column="WEIGHT" jdbcType="INTEGER" property="weight" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="WEIXIN" jdbcType="VARCHAR" property="weixin" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="LOGIN_COUNT" jdbcType="INTEGER" property="loginCount" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="PARENTIDS" jdbcType="VARCHAR" property="parentids" />
    <result column="MEMBER_GROUP_ID" jdbcType="VARCHAR" property="memberGroupId" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="USERGROUP_ID" jdbcType="VARCHAR" property="usergroupId" />
    <result column="EMERGECY_CONTACT" jdbcType="VARCHAR" property="emergecyContact" />
    <result column="IS_CERTIFICATE_INTERNATIONAL" jdbcType="BIT" property="isCertificateInternational" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="COOP_NAME" jdbcType="VARCHAR" property="coopName" />
    <result column="COOP_ADDRESS" jdbcType="VARCHAR" property="coopAddress" />
    <result column="BUSSINESS_LICENSE_CODE" jdbcType="VARCHAR" property="bussinessLicenseCode" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="TAXPAYER" jdbcType="VARCHAR" property="taxpayer" />
    <result column="SOCIETY_CODE" jdbcType="VARCHAR" property="societyCode" />
    <result column="LEGAL_REPRESENTATIVE_CARD1" jdbcType="VARCHAR" property="legalRepresentativeCard1" />
    <result column="LEGAL_REPRESENTATIVE_CARD2" jdbcType="VARCHAR" property="legalRepresentativeCard2" />
    <result column="LEGAL_IDCARD_EFFITIVE" jdbcType="VARCHAR" property="legalIdcardEffitive" />
    <result column="BUSSINESS_LICENSE_PIC" jdbcType="VARCHAR" property="bussinessLicensePic" />
    <result column="LICENSE_FOR_OPENING_COUNT" jdbcType="VARCHAR" property="licenseForOpeningCount" />
    <result column="QUANTITY_REPORT_ID" jdbcType="VARCHAR" property="quantityReportId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, USERNAME, PASSWORD, LOGIN_DATE, CREATE_DATE, UPDATE_DATE, LAST_LOGIN_DATE, EMAIL, 
    MOBIL_PHONE, ENABLED, CREATOR, UPDATER, SEX, ICON, DESCRIPTION, AGE, WEIGHT, QQ, 
    WEIXIN, REAL_NAME, LOGIN_COUNT, SORT, ORG_ID, PARENT_ID, PARENTIDS, MEMBER_GROUP_ID, 
    NICKNAME, LOGIN_NAME, USERGROUP_ID, EMERGECY_CONTACT, IS_CERTIFICATE_INTERNATIONAL, 
    ID_CARD, COOP_NAME, COOP_ADDRESS, BUSSINESS_LICENSE_CODE, ORG_CODE, TAXPAYER, SOCIETY_CODE, 
    LEGAL_REPRESENTATIVE_CARD1, LEGAL_REPRESENTATIVE_CARD2, LEGAL_IDCARD_EFFITIVE, BUSSINESS_LICENSE_PIC, 
    LICENSE_FOR_OPENING_COUNT, QUANTITY_REPORT_ID, TYPE, SALT
  </sql>
  
</mapper>