<div style="padding:3px;">
  <form>
    <input type="hidden" [(ngModel)]="role.id" name="id">
    <table>
      <tr>
        <td><label class="td-label">*</label>角色名称:</td><td><eui-textbox class="textbox" #name [ngModel]="role.name" name="name" placeholder="请填入角色名称"></eui-textbox></td>
        <td><label class="td-label">*</label>代码:</td><td><eui-textbox class="textbox" #code [ngModel]="role.code" name="code" placeholder="请填入代码"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>排序:</td>
        <td>
          <eui-combotree [(ngModel)]="role.parentId" [data]="orgTreeData" placeholder="不选为根节点">
            <eui-tree ></eui-tree>
          </eui-combotree>
        </td>
        <td><label class="td-label">*</label>组织:</td><td><eui-textbox class="textbox" #orgId [ngModel]="role.orgId" name="orgId" placeholder="请填入组织结构表"></eui-textbox></td>
      </tr>
    </table>
    <div >
      <eui-linkbutton (click)="submitForm()" style="width:80px">保存</eui-linkbutton>
      <eui-linkbutton (click)="onCancel()" style="width:80px">返回</eui-linkbutton>
    </div>
  </form>

</div>

