<form #form="ngForm">
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="请输入手机">
        </div>
      </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="请输入验证码">
        </div>
      </div>
      <!--<div class="weui-cell__ft"></div>-->
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <a class="weui-btn weui-btn_warn" style="text-decoration: none; color: #F3F3F3; text-underline: none;" href="javascript:">确定</a>
      </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <a class="weui-btn weui-btn_primary" style="text-decoration: none; color: #F3F3F3; text-underline: none;" href="javascript:">返回</a>
      </div>
    </a>
  </div>
</form>
