<h2>角色管理</h2>
<form novalidate (ngSubmit)="submitForm(user.value)">
  <table  border="1" bordercolor="#DDDDDD" style="border-collapse:collapse;">
    <tr>
      <td>
        <label  align="top">用户名:</label>
        <eui-textbox #username name="username" [(ngModel)]="user.username"></eui-textbox>
      </td>
      <td>
        <label align="top">邮箱:</label>
        <eui-textbox  #email name="email" [(ngModel)]="user.email" ></eui-textbox>
      </td>
      <td>
        <label align="top">电话:</label>
        <eui-textbox   #mobilPhone name="mobilPhone" [(ngModel)]="user.mobilPhone"></eui-textbox>
      </td>
    </tr>
    <tr>
      <td>
        <label  align="top">年龄:</label>
        <eui-textbox  #age name="age" [(ngModel)]="user.age"></eui-textbox>
      </td>
    </tr>
  </table>
  <div style="width: 75%">
    <label align="top">描述:</label>
    <eui-textbox #description name="description" [(ngModel)]="user.description" [multiline]="true" style="width:100%;height:120px"></eui-textbox>
  </div>

  <div >
    <eui-linkbutton (click)="submitForm()" style="width:80px">Save</eui-linkbutton>
    <eui-linkbutton (click)="onCancel()" style="width:80px">Cancel</eui-linkbutton>
  </div>
</form>
