<div style="padding:3px;">
  <form>
    <input type="hidden" [(ngModel)]="user.id" name="id">
    <table>
      <tr>
        <td><label class="td-label">*</label>用户名:</td><td><eui-textbox class="textbox" #username [ngModel]="user.username" name="username" placeholder="请填入用户名"></eui-textbox></td>
        <td><label class="td-label">*</label>邮箱:</td><td><eui-textbox class="textbox" #email [ngModel]="user.email" name="email" placeholder="请填入邮箱"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>手机:</td><td><eui-textbox class="textbox" #mobilPhone [ngModel]="user.mobilPhone" name="mobilPhone" placeholder="请填入手机"></eui-textbox></td>
        <td><label class="td-label">*</label>昵称:</td><td><eui-textbox class="textbox" #nickname [ngModel]="user.nickname" name="nickname" placeholder="请填入昵称"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>性别:</td>
        <td>
          <eui-combobox #sex [(ngModel)]="user.sex" [data]="[{value: 0, text: '男'},{value: 1, text: '女'}]" placeholder="请选择性别"></eui-combobox>
        </td>
        <td><label class="td-label">*</label>头像:</td><td><eui-textbox class="textbox" #icon [ngModel]="user.icon" name="icon" placeholder="请填入头像"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>体重:</td><td><eui-textbox class="textbox" #weight [ngModel]="user.age" name="weight" placeholder="请填入体重"></eui-textbox></td>
        <td><label class="td-label">*</label>身高:</td><td><eui-textbox class="textbox" #age [ngModel]="user.weight" name="age" placeholder="请填入身高"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>QQ:</td><td><eui-textbox class="textbox" #qq [ngModel]="user.qq" name="qq" placeholder="请填入QQ"></eui-textbox></td>
        <td><label class="td-label">*</label>微信:</td><td><eui-textbox class="textbox" #weixin [ngModel]="user.weixin" name="weixin" placeholder="请填入微信"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>实名:</td><td><eui-textbox class="textbox" #realName [ngModel]="user.realName" name="realName" placeholder="请填入实名"></eui-textbox></td>
        <td><label class="td-label">*</label>登录名:</td><td><eui-textbox class="textbox" #loginName [ngModel]="user.loginName" name="loginName" placeholder="请填入登录名"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>身份证号码:</td><td><eui-textbox class="textbox" #idCard [ngModel]="user.idCard" name="idCard" placeholder="请填入身份证号码"></eui-textbox></td>
        <td><label class="td-label">*</label>紧急情况联系人:</td><td><eui-textbox class="textbox" #emergecyContact [ngModel]="user.emergecyContact" name="emergecyContact" placeholder="请填入紧急情况联系人"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>是否是国内企业证件照:</td>
        <td>
          <eui-radiobutton name="type" [inputId]="type" [value]=1 [(ngModel)]="user.type"></eui-radiobutton>是
          <eui-radiobutton name="type" [inputId]="type" [value]=0 [(ngModel)]="user.type"></eui-radiobutton>否
        </td>
        <td><label class="td-label">*</label>商户类型:</td>
        <td>
          <eui-combobox #type [(ngModel)]="user.type" [data]="[{value: 'cooperation', text: '企业'},{value: 'person', text: '个人'}]" placeholder="请选择商户类型"></eui-combobox>
        </td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>组织:</td><td>
          <eui-combotree [(ngModel)]="user.parentId" [data]="orgTreeData" placeholder="不选为根节点">
            <eui-tree ></eui-tree>
          </eui-combotree>
        </td>
        <td><label class="td-label">*</label>组织机构代码:</td><td><eui-textbox class="textbox" #orgCode [ngModel]="user.orgCode" name="orgCode" placeholder="请填入组织机构代码"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>公司名称:</td><td><eui-textbox class="textbox" #coopName [ngModel]="user.coopName" name="coopName" placeholder="请填入公司名称"></eui-textbox></td>
        <td><label class="td-label">*</label>公司经营地址:</td><td><eui-textbox class="textbox" #coopAddress [ngModel]="user.coopAddress" name="coopAddress" placeholder="请填入公司经营地址"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>纳税人识别码:</td><td><eui-textbox class="textbox" #taxpayer [ngModel]="user.taxpayer" name="taxpayer" placeholder="请填入纳税人识别码"></eui-textbox></td>
        <td><label class="td-label">*</label>统一社会信用代码:</td><td><eui-textbox class="textbox" #societyCode [ngModel]="user.societyCode" name="societyCode" placeholder="请填入统一社会信用代码"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>法定代表人身份证正面照片:</td><td><eui-textbox class="textbox" #legalRepresentativeCard1 [ngModel]="user.legalRepresentativeCard1" name="legalRepresentativeCard1" placeholder="请填入法定代表人身份证正面照片"></eui-textbox></td>
        <td><label class="td-label">*</label>法定代表人身份证反面照片:</td><td><eui-textbox class="textbox" #legalRepresentativeCard2 [ngModel]="user.legalRepresentativeCard2" name="legalRepresentativeCard2" placeholder="请填入法定代表人身份证反面照片"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>法定代表人身份证有效期:</td><td><eui-textbox class="textbox" #legalIdcardEffitive [ngModel]="user.legalIdcardEffitive" name="legalIdcardEffitive" placeholder="请填入法定代表人身份证有效期"></eui-textbox></td>
        <td><label class="td-label">*</label>营业执照:</td><td><eui-textbox class="textbox" #bussinessLicensePic [ngModel]="user.bussinessLicensePic" name="bussinessLicensePic" placeholder="请填入营业执照"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>开户许可证:</td><td><eui-textbox class="textbox" #licenseForOpeningCount [ngModel]="user.licenseForOpeningCount" name="licenseForOpeningCount" placeholder="请填入开户许可证"></eui-textbox></td>
        <td><label class="td-label">*</label>营业执照注册号:</td><td><eui-textbox class="textbox" #bussinessLicenseCode [ngModel]="user.bussinessLicenseCode" name="bussinessLicenseCode" placeholder="请填入营业执照注册号"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>质检报告:</td><td><eui-textbox class="textbox" #quantityReportId [ngModel]="user.quantityReportId" name="quantityReportId" placeholder="请填入质检报告"></eui-textbox></td>
        <td><label class="td-label">*</label>描述:</td><td><eui-textbox class="textbox" #description [ngModel]="user.description" name="description" placeholder="请填入描述"></eui-textbox></td>
      </tr>

    </table>
    <div >
      <eui-linkbutton (click)="submitForm()" style="width:80px">保存</eui-linkbutton>
      <eui-linkbutton (click)="onCancel()" style="width:80px">返回</eui-linkbutton>
    </div>
  </form>

</div>
