<div style="padding:3px;">
  <form>
    <input type="hidden" [(ngModel)]="property.id" name="id" />
    <table>
      <tr>
        <td>
          <label class="td-label">*</label>名称:
        </td>
        <td>
          <eui-textbox class="textbox" #name [(ngModel)]="property.name" name="name" placeholder="请填入名称"></eui-textbox>
        </td>

        <td>
          <label class="td-label">*</label>代号:
        </td>
        <td>
          <eui-textbox class="textbox" #code [(ngModel)]="property.code" name="code" placeholder="请填入代号"></eui-textbox>
        </td>
      </tr>
      <tr>
        <td>
          <label class="td-label">*</label>描述:
        </td>
        <td>
          <eui-textbox class="textbox" #description [(ngModel)]="property.description" name="description" placeholder="请填入描述"></eui-textbox>
        </td>
        <td>
          <!-- <label class="td-label">*</label>父亲节点: -->
        </td>
        <td>
          <!-- <eui-combotree [(ngModel)]="property.parentId" name="parentId" [data]="treeData" placeholder="不选为根节点">
            <eui-tree></eui-tree>
          </eui-combotree>
          <eui-linkbutton iconCls="icon-cancel" (click)="back()">取消选择</eui-linkbutton> -->
          <!-- <eui-textbox class="textbox" #guesspropertyId [(ngModel)]="property.parentId" name="parentId" placeholder="请填入类别"></eui-textbox> -->
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <eui-linkbutton iconCls="icon-save" (click)="onSubmit()">保存</eui-linkbutton>&nbsp;
          <eui-linkbutton iconCls="icon-back" (click)="back()">返回</eui-linkbutton>
        </td>
      </tr>
    </table>
  </form>
</div>