<div style="font-weight: normal;">
  <div style="height: 6em;line-height:6em;
  background: #E02E24;width: 100%;position: relative;">
    <img style="width: 4em;height: 4em; border-radius: 2em;margin-top: 1em;margin-left: 1em;position: absolute;"
         src="http://omsproductionimg.yangkeduo.com/images/2017-11-16/164402b57a195acee7e3144fd88ce46c.jpeg"/>
    <label style="color: #F3F3F3;margin-left: 5.5em;" >黄记新</label>


  </div>
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="[{ outlets: { userInfo: ['address'] } }]" >
      <div class="weui-cell__bd"  >
        <i class="fa fa-map-marker" aria-hidden="true" style="color: aqua;"></i>&nbsp;&nbsp;我的收货地址
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;"  [routerLink]="[{ outlets: { userInfo: ['guess-record'] } }]" >
      <div class="weui-cell__bd"><!--[routerLink]="['/index/guess-record']"-->
        <i class="fa fa-google" aria-hidden="true" style="color: aquamarine"></i>&nbsp;&nbsp;我的竞猜记录
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <i class="fa fa-sign-out" aria-hidden="true" style="color: red;"></i>&nbsp;&nbsp;注销
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd" [routerLink]="['/login']">
        <i class="fa fa-sign-out" aria-hidden="true" style="color: red;"></i>&nbsp;&nbsp;登录
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
</div>

