<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwo.modules.system.dao.TbUserApplyMapper" >
  <resultMap id="BaseResultMap" type="com.zwo.modules.system.domain.TbUserApply" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="LOGIN_DATE" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_DATE" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBIL_PHONE" property="mobilPhone" jdbcType="VARCHAR" />
    <result column="DISABLE" property="disable" jdbcType="BIT" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATER" property="updater" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="BIT" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="INTEGER" />
    <result column="WEIGHT" property="weight" jdbcType="INTEGER" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="WEIXIN" property="weixin" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="EMERGECY_CONTACT" property="emergecyContact" jdbcType="VARCHAR" />
    <result column="IS_CERTIFICATE_INTERNATIONAL" property="isCertificateInternational" jdbcType="BIT" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="COOP_NAME" property="coopName" jdbcType="VARCHAR" />
    <result column="COOP_ADDRESS" property="coopAddress" jdbcType="VARCHAR" />
    <result column="BUSSINESS_LICENSE_CODE" property="bussinessLicenseCode" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="TAXPAYER" property="taxpayer" jdbcType="VARCHAR" />
    <result column="SOCIETY_CODE" property="societyCode" jdbcType="VARCHAR" />
    <result column="LEGAL_REPRESENTATIVE_CARD1" property="legalRepresentativeCard1" jdbcType="VARCHAR" />
    <result column="LEGAL_REPRESENTATIVE_CARD2" property="legalRepresentativeCard2" jdbcType="VARCHAR" />
    <result column="LEGAL_IDCARD_EFFITIVE" property="legalIdcardEffitive" jdbcType="VARCHAR" />
    <result column="BUSSINESS_LICENSE_PIC" property="bussinessLicensePic" jdbcType="VARCHAR" />
    <result column="LICENSE_FOR_OPENING_COUNT" property="licenseForOpeningCount" jdbcType="VARCHAR" />
    <result column="QUANTITY_REPORT_ID" property="quantityReportId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ID, USERNAME, PASSWORD, LOGIN_DATE, CREATE_DATE, UPDATE_DATE, LAST_LOGIN_DATE, EMAIL, 
    MOBIL_PHONE, DISABLE, CREATOR, UPDATER, SEX, ICON, DESCRIPTION, AGE, WEIGHT, QQ, 
    WEIXIN, REAL_NAME, SORT, ORG_ID, NICKNAME, LOGIN_NAME, TYPE, EMERGECY_CONTACT, IS_CERTIFICATE_INTERNATIONAL, 
    ID_CARD, COOP_NAME, COOP_ADDRESS, BUSSINESS_LICENSE_CODE, ORG_CODE, TAXPAYER, SOCIETY_CODE, 
    LEGAL_REPRESENTATIVE_CARD1, LEGAL_REPRESENTATIVE_CARD2, LEGAL_IDCARD_EFFITIVE, BUSSINESS_LICENSE_PIC, 
    LICENSE_FOR_OPENING_COUNT, QUANTITY_REPORT_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zwo.modules.system.domain.TbUserApplyCriteria" >
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_user_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zwo.modules.system.domain.TbUserApplyCriteria" >
    <!--
      WARNING - @mbg.generated
    -->
    delete from tb_user_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.zwo.modules.system.domain.TbUserApplyCriteria" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from tb_user_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update tb_user_apply
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.loginDate != null" >
        LOGIN_DATE = #{record.loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginDate != null" >
        LAST_LOGIN_DATE = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilPhone != null" >
        MOBIL_PHONE = #{record.mobilPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.disable != null" >
        DISABLE = #{record.disable,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updater != null" >
        UPDATER = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=BIT},
      </if>
      <if test="record.icon != null" >
        ICON = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        AGE = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null" >
        WEIGHT = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.qq != null" >
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null" >
        WEIXIN = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null" >
        REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null" >
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.emergecyContact != null" >
        EMERGECY_CONTACT = #{record.emergecyContact,jdbcType=VARCHAR},
      </if>
      <if test="record.isCertificateInternational != null" >
        IS_CERTIFICATE_INTERNATIONAL = #{record.isCertificateInternational,jdbcType=BIT},
      </if>
      <if test="record.idCard != null" >
        ID_CARD = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.coopName != null" >
        COOP_NAME = #{record.coopName,jdbcType=VARCHAR},
      </if>
      <if test="record.coopAddress != null" >
        COOP_ADDRESS = #{record.coopAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.bussinessLicenseCode != null" >
        BUSSINESS_LICENSE_CODE = #{record.bussinessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        ORG_CODE = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.taxpayer != null" >
        TAXPAYER = #{record.taxpayer,jdbcType=VARCHAR},
      </if>
      <if test="record.societyCode != null" >
        SOCIETY_CODE = #{record.societyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.legalRepresentativeCard1 != null" >
        LEGAL_REPRESENTATIVE_CARD1 = #{record.legalRepresentativeCard1,jdbcType=VARCHAR},
      </if>
      <if test="record.legalRepresentativeCard2 != null" >
        LEGAL_REPRESENTATIVE_CARD2 = #{record.legalRepresentativeCard2,jdbcType=VARCHAR},
      </if>
      <if test="record.legalIdcardEffitive != null" >
        LEGAL_IDCARD_EFFITIVE = #{record.legalIdcardEffitive,jdbcType=VARCHAR},
      </if>
      <if test="record.bussinessLicensePic != null" >
        BUSSINESS_LICENSE_PIC = #{record.bussinessLicensePic,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseForOpeningCount != null" >
        LICENSE_FOR_OPENING_COUNT = #{record.licenseForOpeningCount,jdbcType=VARCHAR},
      </if>
      <if test="record.quantityReportId != null" >
        QUANTITY_REPORT_ID = #{record.quantityReportId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update tb_user_apply
    set ID = #{record.id,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      LOGIN_DATE = #{record.loginDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      LAST_LOGIN_DATE = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      MOBIL_PHONE = #{record.mobilPhone,jdbcType=VARCHAR},
      DISABLE = #{record.disable,jdbcType=BIT},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      UPDATER = #{record.updater,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=BIT},
      ICON = #{record.icon,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      AGE = #{record.age,jdbcType=INTEGER},
      WEIGHT = #{record.weight,jdbcType=INTEGER},
      QQ = #{record.qq,jdbcType=VARCHAR},
      WEIXIN = #{record.weixin,jdbcType=VARCHAR},
      REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=INTEGER},
      ORG_ID = #{record.orgId,jdbcType=VARCHAR},
      NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      EMERGECY_CONTACT = #{record.emergecyContact,jdbcType=VARCHAR},
      IS_CERTIFICATE_INTERNATIONAL = #{record.isCertificateInternational,jdbcType=BIT},
      ID_CARD = #{record.idCard,jdbcType=VARCHAR},
      COOP_NAME = #{record.coopName,jdbcType=VARCHAR},
      COOP_ADDRESS = #{record.coopAddress,jdbcType=VARCHAR},
      BUSSINESS_LICENSE_CODE = #{record.bussinessLicenseCode,jdbcType=VARCHAR},
      ORG_CODE = #{record.orgCode,jdbcType=VARCHAR},
      TAXPAYER = #{record.taxpayer,jdbcType=VARCHAR},
      SOCIETY_CODE = #{record.societyCode,jdbcType=VARCHAR},
      LEGAL_REPRESENTATIVE_CARD1 = #{record.legalRepresentativeCard1,jdbcType=VARCHAR},
      LEGAL_REPRESENTATIVE_CARD2 = #{record.legalRepresentativeCard2,jdbcType=VARCHAR},
      LEGAL_IDCARD_EFFITIVE = #{record.legalIdcardEffitive,jdbcType=VARCHAR},
      BUSSINESS_LICENSE_PIC = #{record.bussinessLicensePic,jdbcType=VARCHAR},
      LICENSE_FOR_OPENING_COUNT = #{record.licenseForOpeningCount,jdbcType=VARCHAR},
      QUANTITY_REPORT_ID = #{record.quantityReportId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>