<!-- <eui-layout style="width:100%;">
  <eui-layout-panel region="north" style="height:80px;" split="true">
      <div class="title" [routerLink]="['suser',{ outlets: { list: ['edit','12345'] } }]">North Region</div>
  </eui-layout-panel>
  <eui-layout-panel region="west" style="width:20%;">
      <eui-treegrid style="padding: 3px;width:100%;"
            [data]="treeData" idField="id" treeField="name"
            [(selection)]="selection"
            (selectionChange)="selectNodeHandler($event)">
        <eui-grid-column field="name" title="菜单名称"></eui-grid-column>
      </eui-treegrid>
  </eui-layout-panel>
  <eui-layout-panel region="center" class="main-center">
      <router-outlet  name="main"></router-outlet>
  </eui-layout-panel>
</eui-layout> -->
<div>
  <div style="width: 100%;height: 80px;">
    <div class="title" [routerLink]="['suser',{ outlets: { list: ['edit','12345'] } }]">North Region</div>
  </div>
  <div style="float: left;width:20%;">
    <eui-treegrid style="padding: 3px;width:100%;" [data]="treeData" idField="id" treeField="name" [(selection)]="selection"
      (selectionChange)="selectNodeHandler($event)">
      <eui-grid-column field="name" title="菜单名称"></eui-grid-column>
    </eui-treegrid>
  </div>
  <div style="float: left;width:80%;">
        <router-outlet  name="main"></router-outlet>
  </div>
  <div style="clear: both;"></div>
</div>
