<swiper class="swiper-container" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" [index]="index">
  <div class="swiper-slide">
    <div>
      <app-guess #guess></app-guess>
    </div>
  </div>
  <div class="swiper-slide">
    <div>
      我是首页。
    </div>
  </div>
  <div class="swiper-slide">
    <div>
      <router-outlet  name="userInfo"></router-outlet>
    </div>
  </div>
</swiper>
<weui-tabbar #weuiTabbar  [activeIndex]="index" style="position: fixed;" (activated)="onActivated($event)"><!---->
  <weui-tabbar-item value="0">
                   <span class="weui-tabbar__icon">
                        <i class="fa fa-glide-g"></i>
                    </span>
    <p class="weui-tabbar__label">趣猜</p>
  </weui-tabbar-item>
  <weui-tabbar-item value="1">
                    <span class="weui-tabbar__icon">
                        <i class="fa fa-home"></i>
                    </span>
    <p class="weui-tabbar__label">首页</p>
  </weui-tabbar-item>
  <weui-tabbar-item value="2">
                    <span class="weui-tabbar__icon">
                        <i class="fa fa-user-circle-o"></i>
                    </span>
    <p class="weui-tabbar__label"  [routerLink]="[{ outlets: { userInfo: ['userInfo'] } }]">我</p>
  </weui-tabbar-item>
</weui-tabbar>
