<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwo.modules.system.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zwo.modules.system.domain.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="is_valid" jdbcType="VARCHAR" property="isValid" />
    <result column="sort_index" jdbcType="INTEGER" property="sortIndex" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="descrtion" jdbcType="VARCHAR" property="descrtion" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
  </resultMap>
  
  <resultMap id="UserVoMap" type="com.zwo.modules.system.vo.UserVo" >
  	<id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="is_valid" jdbcType="VARCHAR" property="isValid" />
    <result column="sort_index" jdbcType="INTEGER" property="sortIndex" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="descrtion" jdbcType="VARCHAR" property="descrtion" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <collection  property="roles" ofType="com.zwo.modules.system.domain.Role">
        	<id column="id" jdbcType="VARCHAR" property="id" />
		    <result column="name" jdbcType="VARCHAR" property="name" />
		    <result column="sort_index" jdbcType="INTEGER" property="sortIndex" />
		    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
		    <result column="salt" jdbcType="VARCHAR" property="salt" />
		    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
		    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
		    <result column="descrtion" jdbcType="VARCHAR" property="descrtion" />
		    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    </collection>
    <collection  property="resource" ofType="com.zwo.modules.system.domain.Resource">
        	<id column="id" jdbcType="VARCHAR" property="id" />
		    <result column="name" jdbcType="VARCHAR" property="name" />
		    <result column="sort_index" jdbcType="INTEGER" property="sortIndex" />
		    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
		    <result column="salt" jdbcType="VARCHAR" property="salt" />
		    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
		    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
		    <result column="descrtion" jdbcType="VARCHAR" property="descrtion" />
		    <result column="type" jdbcType="INTEGER" property="type" />
		    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
		    <result column="code" jdbcType="VARCHAR" property="code" />
		    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		    <result column="level" jdbcType="INTEGER" property="level" />
    </collection>
  </resultMap>
  
  <select id="findRoles" resultType="java.lang.String">
  		SELECT 
		   distinct r.name
		FROM
		    bhm_user u
		        LEFT JOIN
		    bhm_user_role ur ON u.id = ur.USER_ID
		        LEFT JOIN
		    bhm_role r ON r.id = ur.ROLE_ID
		WHERE
		    u.username = #{username}
  </select>
  <select id="findPermissions" resultType="java.lang.String">
	SELECT DISTINCT
	    res.NAME
	FROM
		    bhm_user user
		        LEFT JOIN
		    bhm_user_role ur ON user.id = ur.USER_ID
		        LEFT JOIN
		    bhm_role r ON r.id = ur.ROLE_ID
		        LEFT JOIN
		    bhm_role_res role_res ON role_res.ROLE_ID = r.id
		        LEFT JOIN
		    bhm_resource res ON res.id = role_res.RES_ID
			        
			WHERE
			    user.USERNAME = #{username}	
  </select> 
  <select id="findByUsername" resultMap="UserVoMap">
  		SELECT DISTINCT
		    user.*,r.*,res.*
		FROM
		    bhm_user user
		        LEFT JOIN
		    bhm_user_role ur ON user.id = ur.USER_ID
		        LEFT JOIN
		    bhm_role r ON r.id = ur.ROLE_ID
		        LEFT JOIN
		    bhm_role_res role_res ON role_res.ROLE_ID = r.id
		        LEFT JOIN
		    bhm_resource res ON res.id = role_res.RES_ID
			        
			WHERE
			    user.USERNAME = #{username}
  </select>
</mapper>