<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwo.modules.member.dao.GroupPurcseMemberMapper" >
  <resultMap id="BaseResultMap" type="com.zwo.modules.member.domain.GroupPurcseMember" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GROUP_PURCSE_ID" property="groupPurcseId" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
    <result column="MEMBER_ICON" property="memberIcon" jdbcType="VARCHAR" />
    <result column="MEMBER_OPEN_ID" property="memberOpenId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, GROUP_PURCSE_ID, MEMBER_ID, MEMBER_NAME, MEMBER_ICON, MEMBER_OPEN_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zwo.modules.member.domain.GroupPurcseMemberCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from group_purcse_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from group_purcse_member
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from group_purcse_member
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zwo.modules.member.domain.GroupPurcseMemberCriteria" >
    delete from group_purcse_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zwo.modules.member.domain.GroupPurcseMember" >
    insert into group_purcse_member (ID, GROUP_PURCSE_ID, MEMBER_ID, 
      MEMBER_NAME, MEMBER_ICON, MEMBER_OPEN_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{groupPurcseId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{memberIcon,jdbcType=VARCHAR}, #{memberOpenId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zwo.modules.member.domain.GroupPurcseMember" >
    insert into group_purcse_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="groupPurcseId != null" >
        GROUP_PURCSE_ID,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="memberName != null" >
        MEMBER_NAME,
      </if>
      <if test="memberIcon != null" >
        MEMBER_ICON,
      </if>
      <if test="memberOpenId != null" >
        MEMBER_OPEN_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupPurcseId != null" >
        #{groupPurcseId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberIcon != null" >
        #{memberIcon,jdbcType=VARCHAR},
      </if>
      <if test="memberOpenId != null" >
        #{memberOpenId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zwo.modules.member.domain.GroupPurcseMemberCriteria" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 13 09:19:02 CST 2017.
    -->
    select count(*) from group_purcse_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update group_purcse_member
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.groupPurcseId != null" >
        GROUP_PURCSE_ID = #{record.groupPurcseId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null" >
        MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null" >
        MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberIcon != null" >
        MEMBER_ICON = #{record.memberIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.memberOpenId != null" >
        MEMBER_OPEN_ID = #{record.memberOpenId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update group_purcse_member
    set ID = #{record.id,jdbcType=VARCHAR},
      GROUP_PURCSE_ID = #{record.groupPurcseId,jdbcType=VARCHAR},
      MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
      MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
      MEMBER_ICON = #{record.memberIcon,jdbcType=VARCHAR},
      MEMBER_OPEN_ID = #{record.memberOpenId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zwo.modules.member.domain.GroupPurcseMember" >
    update group_purcse_member
    <set >
      <if test="groupPurcseId != null" >
        GROUP_PURCSE_ID = #{groupPurcseId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberIcon != null" >
        MEMBER_ICON = #{memberIcon,jdbcType=VARCHAR},
      </if>
      <if test="memberOpenId != null" >
        MEMBER_OPEN_ID = #{memberOpenId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zwo.modules.member.domain.GroupPurcseMember" >
    update group_purcse_member
    set GROUP_PURCSE_ID = #{groupPurcseId,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      MEMBER_ICON = #{memberIcon,jdbcType=VARCHAR},
      MEMBER_OPEN_ID = #{memberOpenId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>