<router-outlet  name="srole"></router-outlet>
<h2>角色管理</h2>
<eui-linkbutton (click)="onAddRow()" iconCls="icon-add">新增角色</eui-linkbutton>
<eui-linkbutton  iconCls="icon-remove">批量删除</eui-linkbutton>
<eui-datagrid style="margin-top: 5px;"
              class="data-grid"
              [pagination]="true"
              [lazy]="true"
              [data]="data"
              [total]="total"
              [pageNumber]="pageNumber"
              [pageSize]="pageSize"
              [pagePosition]="pagePosition"
              [loading]="loading"
              (pageChange)="onPageChange($event)">
  <eui-grid-column align="center" title="id" field="id"></eui-grid-column>
  <eui-grid-column align="center" title="角色" field="name"></eui-grid-column>
  <eui-grid-column align="center" title="代码" field="code" ></eui-grid-column>
  <eui-grid-column align="center" title="创建人" field="creator" ></eui-grid-column>
  <eui-grid-column align="center" title="更新人" field="updater" ></eui-grid-column>
  <eui-grid-column align="center" title="操作"   >
    <ng-template euiCellTemplate let-row>
      <eui-linkbutton iconCls="icon-edit" (click)="onEditRow(row)">修改</eui-linkbutton>
      <eui-linkbutton iconCls="icon-remove" (click)="onDeleteRow(row)">删除</eui-linkbutton>
    </ng-template>
  </eui-grid-column>

</eui-datagrid>

