<div style="padding:3px;">
  <form>
    <input type="hidden" [(ngModel)]="resource.id" name="id">
    <table>

      <tr>
        <td><label class="td-label">*</label>资源名称:</td><td><eui-textbox class="textbox" #name [ngModel]="resource.name" name="name" placeholder="请填入资源名称"></eui-textbox></td>
        <td><label class="td-label">*</label>父类ID:</td><td><eui-textbox class="textbox" #parentId [ngModel]="resource.parentId" name="parentId" placeholder="请填入父类ID"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>描述:</td><td><eui-textbox class="textbox" #description [ngModel]="resource.description" name="description" placeholder="请填入描述"></eui-textbox></td>
        <td><label class="td-label">*</label>权限名称:</td><td><eui-textbox class="textbox" #authName [ngModel]="resource.authName" name="authName" placeholder="请填入权限名称"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>访问路径:</td><td><eui-textbox class="textbox" #path [ngModel]="resource.path" name="path" placeholder="请填入访问路径"></eui-textbox></td>
        <td><label class="td-label">*</label>排序:</td><td><eui-textbox class="textbox" #sort [ngModel]="resource.sort" name="sort" placeholder="请填入排序"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>类型:</td><td><eui-textbox class="textbox" #type [ngModel]="resource.type" name="type" placeholder="请填入类型"></eui-textbox></td>
        <td><label class="td-label">*</label>是否勾选:</td><td><eui-textbox class="textbox" #checked [ngModel]="resource.checked" name="checked" placeholder="请填入是否勾选"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>文本:</td><td><eui-textbox class="textbox" #text [ngModel]="resource.text" name="text" placeholder="请填入文本"></eui-textbox></td>
        <td><label class="td-label">*</label>代码:</td><td><eui-textbox class="textbox" #code [ngModel]="resource.code" name="code" placeholder="请填入代码"></eui-textbox></td>
      </tr>
      <tr>
        <td><label class="td-label">*</label>组织:</td>
        <td>
          <eui-combotree [(ngModel)]="resource.parentId" [data]="orgTreeData" placeholder="不选为根节点">
            <eui-tree ></eui-tree>
          </eui-combotree>
        </td>
        <td><label class="td-label">*</label>路径:</td><td><eui-textbox class="textbox" #url [ngModel]="resource.url" name="url" placeholder="请填入路径"></eui-textbox></td>
      </tr>

    </table>
    <div >
      <eui-linkbutton (click)="submitForm()" style="width:80px">保存</eui-linkbutton>
      <eui-linkbutton (click)="onCancel()" style="width:80px">返回</eui-linkbutton>
    </div>
  </form>

</div>

