<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwo.xiyangyang.modules.guess.dao.GuessOptionsCombineMapper" >
  <resultMap id="BaseResultMap" type="com.zwo.xiyangyang.modules.guess.domain.GuessOptionsCombine" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="OPTIONS_ID" property="optionsId" jdbcType="VARCHAR" />
    <result column="COMBINE_ID" property="combineId" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>