<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwo.xiyangyang.modules.guess.dao.GuessQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.zwo.xiyangyang.modules.guess.domain.GuessQuestion" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATER" property="updater" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="ENABLED" property="enabled" jdbcType="BIT" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="BIT" />
    <result column="EN_NAME" property="enName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" />
    <result column="THUMBNAIL" property="thumbnail" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="GUESS_CATEGORY_ID" property="guessCategoryId" jdbcType="VARCHAR" />
    <result column="GUESS_ANSWER_ID" property="guessAnswerId" jdbcType="VARCHAR" />
    <result column="QUESTION_END_TIME" property="questionEndTime" jdbcType="TIMESTAMP" />
    <result column="CHECKED" property="checked" jdbcType="BIT" />
    <collection property="guessOptions" column="id"
         select="com.zwo.xiyangyang.modules.guess.dao.GuessOptionsMapper.selectByQuestionId">
    </collection>
  </resultMap>
</mapper>