<router-outlet  name="mmember"></router-outlet>
<!-- <h2>Pagination</h2>
<eui-linkbutton (click)="onAddRow()" iconCls="icon-add" style="margin-bottom:10px">Add New</eui-linkbutton>
<eui-datagrid style="height:250px"
              [pagination]="true"
              [data]="data"
              [total]="total"
              [pageNumber]="pageNumber"
              [pageSize]="pageSize"
              [pagePosition]="pagePosition">
  <eui-grid-column field="inv" title="Inv No"></eui-grid-column>
  <eui-grid-column field="name" title="Name"></eui-grid-column>
  <eui-grid-column field="amount" title="Amount" align="right"></eui-grid-column>
  <eui-grid-column field="price" title="Price" align="right"></eui-grid-column>
  <eui-grid-column field="cost" title="Cost" align="right"></eui-grid-column>
  <eui-grid-column field="note" title="Note"></eui-grid-column>
  <eui-grid-column title="Commands" align="center" width="100">
    <ng-template euiCellTemplate let-row>
      <eui-linkbutton btnCls="c5" (click)="onEditRow(row)">Edit</eui-linkbutton>
      <eui-linkbutton btnCls="c1" (click)="onDeleteRow(row)">Delete</eui-linkbutton>
    </ng-template>
  </eui-grid-column>
</eui-datagrid> -->
<!--<member-edit-form [closed]="closed" [isNewRow]="isNewRow" [row]="editingRow" (save)="onSaveRow($event)" (cancel)="closed=true">
</member-edit-form>-->
