<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp style="font-size: 1em;">
  <div *ngFor="let question of guessQuestions; let i = index;">
    <div class="weui-cells__title" >
      <p style="font-size: 1.0em;color: gray;">{{i+1}}.{{question.name}}</p>
    </div>
    <div class="weui-cells" >
      <ng-template [ngIf]="question.guessOptions.length>0">
        <a  *ngFor="let option of question.guessOptions" class="weui-cell weui-cell_access"
            href="javascript:;" (click)="onOptionClickHandler(option)">
          <div class="weui-cell__bd">
            <p style="font-size: 0.8em;">{{option.name}}</p>
          </div>
          <div style="font-size: 0.8em;" class="weui-cell__ft">赔率{{option.betRate}}</div>
        </a>
      </ng-template>
    </div>
    <div class="weui-cells__title" >
      <i class="fa fa-clock-o" aria-hidden="true"></i>投注截止时间：{{question.questionEndTime | date:'yyyy-MM-dd HH:mm:ss'}}
    </div>
  </div>
</weui-infiniteloader>
<weui-popup #betOptionPopup>
  <div style="text-align: center;padding: 10px;">
    <div><p>{{guessOptionsEntity.name}}赔率：{{guessOptionsEntity.betRate}}</p></div>
    <div class="weui-flex">
      <div class="weui-flex__item">
        <button weui-button [weui-mini]="true" (click)="betValue=100;" [weui-type]="'warn'" style="text-align: center;width: 80%;">100</button>
      </div>
      <div class="weui-flex__item">
        <button weui-button [weui-mini]="true" (click)="betValue=200;" [weui-type]="'warn'" style="text-align: center;width: 80%;">200</button>
      </div>
      <div class="weui-flex__item">
        <button weui-button [weui-mini]="true" (click)="betValue=500;" [weui-type]="'warn'" style="text-align: center;width: 80%;">500</button>
      </div>
      <div class="weui-flex__item">
        <button weui-button [weui-mini]="true" (click)="betValue=1000;" [weui-type]="'warn'" style="text-align: center;width: 80%;">1000</button>
      </div>
    </div>
    <div style="font-size: 1em;padding: 5px;"><p>押<label style="color: red">{{betValue}}</label>猜中赢<label style="color: red">{{guessOptionsEntity.betRate*betValue}}</label>竞猜豆</p></div>
    <div style="text-align: center;padding: 4px;">
      <button weui-button [weui-mini]="true" style="text-align: center;width: 30%;">马上竞猜</button>
    </div>

  </div>
</weui-popup>

